* {box-sizing: border-box;margin: 0px;padding: 0px;}
html {scroll-behavior: smooth;}
  
body {
    background-color: white;
    background-image:url(assets/images/plan3.jpg);
    background-repeat:no-repeat;
    background-size: contain;
}

@font-face {font-family: TitleFont;src: url(assets/fonts/DMSerifDisplay-Regular.ttf);}
@font-face {font-family: BodyFont;src: url(assets/fonts/Archivo-VariableFont_wdth\,wght.ttf);}
@font-face {font-family: SubTitleFont;src: url(assets/fonts/ArchivoBlack-Regular.ttf);}



hr.reg {
    margin-bottom: 30px;
    margin-top: 10px;
    height: 10px;
    background-color: #102027;
    border-color: #102027;
}

hr.style-four {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}


.shadow_grad {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.5));
  }


h4{
    color: black;
    font-size: 30px;
    font-family: SubTitleFont;
}

h3{
    color: #102027;
    font-size: 25px;
    line-height: 1.4;
}
h2{
    color: #102027;
    font-family: TitleFont;
}

h5{
    color: #FAFAF0;
    font-size: 70px;
    font-family: TitleFont;
    text-decoration: underline;
}

h6{
    color: lightgray;
    font-size: 30px;
}

li{
    color:black;
    font-family: SubTitleFont;
    line-height: 200%;

}

footer{
    background-color: white;

    padding-top: 100px;
    padding-bottom: 50px;
    text-align: center;

}


.main{padding-left: 20%;}

#HEADER_CONTAINER {
    height: 100px;
    display: flex;
    background-color: #FAFAF0;

    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}
#LOGO_HOLDER {
    width: 30%;
}
#LOGO{
    text-align: center;
    line-height: 100px;
    padding-top: 10px;
}

/* Style the navigation menu */
#NAVBAR_HOLDER {
    width: 70%;
    
    overflow: auto;
    height: 100%;
    display: flex;
    align-items: center;
  }
  
/* Navigation links */
#NAVBAR_HOLDER a {
    float: left;
    padding: 12px;
    color: #102027;

    opacity: 0.5;
    transition: 0.4s;

    font-size: 28px;
    font-family: BodyFont;
    text-decoration: none;
    width: 25%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
    text-align: center; /* If you want the text to be centered */

}

/* Add a background color on mouse-over */
#NAVBAR_HOLDER a:hover {
    opacity: 1;
    font-size: 32px;
}


#ABOUT_OVERVIEW_CONTAINER{
    background-color: #caf0f8;

    margin: auto;
    margin-bottom: 0px;
    text-align: center;
    padding: 80px 20% 90px 20%;
}

#PERSONEL_CONTAINER{
    background-color: #0D0D06;
    text-align: left;
    padding-top: 100px;
    padding-bottom: 200px;
    
}

#NOTABLE_PROJ_CONTAINER{
    padding-top: 80px;
    padding-bottom: 400px;
    background-color: #e63946;
    text-align: center;
}

#NOTABLE_PROJ_CARD{
    width: 60%;
    padding-bottom: 800px;
    margin: auto;
    margin-top: 80px;
    background-color: white;
    border-radius: 20px;

    box-shadow: 0px 20px 100px 10px black;
}




/* Add responsiveness - on screens less than 500px, make the navigation links appear on top of each other, instead of next to each other */
@media screen and (max-width: 500px) {
.navbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: left; /* If you want the text to be left-aligned on small screens */
}
}